<div class="container">
<div class="row removable">
<div class='col-md-2'>

  <div class="form-group">
    <%= f.label :week_day %>
    <%= link_to_remove_fields nil, 'schedule-to-be-replaced' %>
    <%= f.select :week_day, options_for_select(@week_days, f.object.week_day), {include_blank: true}, class: "form-control week-day" %>

    <span class="standard-date"><%= f.object.standard_date.try(:strftime, '%Y-%m-%d') %></span>
  </div>

</div>

<%= f.fields_for :schedule_details do |builder| %>
  <%= render 'schedule_detail_fields', f: builder  %>
<% end %>


<p><%= link_to_add_fields t('views.links.add_schedule_details'), f, :schedule_details %></p>
  </div>
</div>
