<%= form_with(model: schedule_detail, local: true) do |form| %>
  <% if schedule_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule_detail.errors.count, "error") %> prohibited this schedule_detail from being saved:</h2>

      <ul>
      <% schedule_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= form.text_field :schedule_id %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.number_field :hour %>
  </div>

  <div class="field">
    <%= form.label :minute %>
    <%= form.number_field :minute %>
  </div>

  <div class="field">
    <%= form.label :coupons %>
    <%= form.number_field :coupons %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
